<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.ReportAppServer.Shared" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net35" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net35" />
  <package id="EntityFramework" version="4.1.10715.0" targetFramework="net35" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net35" />
  <package id="Npgsql" version="2.2.7" targetFramework="net35" />
  <package id="Npgsql.EntityFrameworkLegacy" version="2.2.7" targetFramework="net35" />
</packages>